body
{
    font-family: 'tapestry';
    background: rgb(225, 182, 246)
}

.header_div
{
    background: rgb(243, 186, 208) ;
    color:rgb(32, 99, 96);
    font-weight:bolder;
}

.header_div p{
    font-family: 'Titillium Web' , sans-serif;
    color: gray;
    letter-spacing :2px;
    font-size: 12px;
    font-weight:lighter;
}
.main_div button{
    font-family:'Titillium Web' , sans-serif;
    margin: top 30px;
    width: 130px;
    font-weight:lighter;
    letter-spacing: 3px;
}

.copy_right_footer {
    position:fixed;
    color:rgb(83, 104, 104);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color:  rgb(243, 186, 208) ;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(82, 83, 99);
}